h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Mooli', sans-serif;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Chivo Mono', sans-serif;
}

.established {
  font-style: italic;
  padding: 5px;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: rgba(222, 184, 135, 0.842);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50px;

}

hr {
  height: 2px;
  background-color: rgb(90, 36, 36);
  border-color: rgb(90, 36, 36);
}

.bottom-line {
  margin-top: 25px;
  font-style: none;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.footer-text{
  margin-top: 10px;
}
.address {
  margin-bottom: 1px;
  margin-top: 15px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}